In [0]:
!pip install arcgis

In [0]:
from arcgis.gis import GIS
from arcgis.geocoding import geocode, reverse_geocode
from arcgis.geometry import Point

In [0]:
gis = GIS()

In [0]:
for x in geocode_result.features:
    gdpoint = x.as_dict["geometry"]
    attr = x.as_dict["attributes"]
    print([gdpoint["x"], gdpoint["y"], attr["Match_addr"], attr["Score"]])

[-76.98831780336425, -12.074584327226038, 'Jirón Los Aymaras 355, Cuadra 3, Ur. Residencial Salamanca, Ate, Lima, 15022', 97.16]
[-76.96701041045014, -12.038134509837677, 'Jirón Los Aymaras 355, Cuadra 4, Co. Chancas De Andahuaylas, Santa Anita, Lima, 15009', 96.06]
[-77.04929061094428, -12.039982967880313, 'Jirón Aymaraes 355, Cuadra 4, Ah. Conde De La Vega Baja (Condesuyo), Lima, 15079', 92.21]
[-77.04888424067204, -12.040009739574623, 'Jirón Aymaraes 355, Cuadra 4, Ah. Conde De La Vega Baja (Condesuyo), Lima, 15079', 92.21]
[-77.0962025706002, -12.08070335692696, 'Calle Aymaras, Ur. Maranga Etapa Ii, San Miguel, Lima, 15087', 86.53]
[-76.95997124499642, -12.035481372498213, 'Jirón Los Aymaras, Co. San Carlos, Santa Anita, Lima, 15009', 86.53]
[-76.98798675, -12.073599000000005, 'Jirón Los Aymaras, Ur. Los Alamos, Ate, Lima, 15022', 86.53]
[-76.98981599999999, -12.076811999999993, 'Jirón Los Aymaras, Ur. Villa Jardin, San Luis, Lima, 15021', 86.53]
[-76.9719141580474, -12.09739468755411, 'Calle Los Aymaras, Ur. El Derby, Santiago de Surco, Lima, 15023', 86.53]
[-76.96306511655665, -12.036582810124735, 'Jirón Los Aymaras, Co. Chancas De Andahuaylas, Santa Anita, Lima, 15009', 86.53]
[-77.05324995014, -12.039407906162491, 'Jirón Aymaraes, Lima, 15079', 83.95]
[-77.05392349106097, -12.038989193086879, 'Jirón Aymaraes, Ah. Conde De La Vega Baja (Condesuyo), Lima, 15079', 83.95]
[-77.0001650551879, -11.959643017820857, 'Alameda Aymaraes, Ah. 9 De Octubre, San Juan de Lurigancho, Lima, 15423', 83.95]
[-76.60110999999995, -12.566389999999956, 'Aymara, Provincia de Cañete, Lima', 82.61]

***

In [0]:
import pandas as pd

In [103]:
df = pd.read_excel("direcciones.xlsx")
df.head()

  APELLIDOS Y NOMBRES                            DIRECCION
0   Espinoza, Teodoro  Calle los Algarrobos 454 - Salamanca
1   Cornejo, Victoria        Calle Los Uros 172 - Salamanca
2     Cornelio Merina       Calle Rio Santa 119 - Salamanca
3         Peña Lilly     Psje Pedro Pizarro 140 - Salamanca
4       Lanchipa Rosa                   Av. Los Aymaras 355

In [15]:
df.columns

Index(['APELLIDOS Y NOMBRES', 'DIRECCION '], dtype='object')

In [0]:
df["ADDRESS"] = df["DIRECCION "].apply(lambda x: x + ", Lima, PER")
df["x"] = 0
df["y"] = 0
df["Match_addr"] = ""
df["score"] = ""

In [105]:
df.head()

  APELLIDOS Y NOMBRES                            DIRECCION   ... Match_addr  score
0   Espinoza, Teodoro  Calle los Algarrobos 454 - Salamanca  ...
1   Cornejo, Victoria        Calle Los Uros 172 - Salamanca  ...
2     Cornelio Merina       Calle Rio Santa 119 - Salamanca  ...
3         Peña Lilly     Psje Pedro Pizarro 140 - Salamanca  ...
4       Lanchipa Rosa                   Av. Los Aymaras 355  ...

[5 rows x 7 columns]

In [106]:
df.iloc[0]["APELLIDOS Y NOMBRES"]

'Espinoza, Teodoro'

In [0]:
def extractAddress(df, indice, idDf, address):
    gis = GIS()
    geocode_result = geocode(address = df.iloc[indice][address], as_featureset=True) # Cambiar la dirección
    for x in geocode_result.features:
        gdpoint = x.as_dict["geometry"]
        attr = x.as_dict["attributes"]
        df = df.append(pd.Series([df.iloc[indice][idDf], "", "", gdpoint["x"], gdpoint["y"], attr["Match_addr"], attr["Score"]], index=df.columns ), ignore_index=True)
    return df

In [0]:
for n in range(len(df)):
    df = extractAddress(df, n, "APELLIDOS Y NOMBRES", "ADDRESS")

In [0]:
df.sort_values(by='APELLIDOS Y NOMBRES')